.customized-icon-lead{
  padding-top: 2rem;
  ol{
    margin-top: 0.5rem;
  }
}
.usage-guide{
  margin-top: 2rem;
}
h2{
  margin-bottom: 1rem;
}
.language-javascript{
  margin-bottom: 2.5rem;
}
.code-example2{
  margin-bottom: 1.5rem;
}
